doctype html
html(lang='ja')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width')
    title= title
    block css
      link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css')
      link(rel='stylesheet', href='./components/bootstrap-material-design/dist/css/roboto.min.css')
      link(rel='stylesheet', href='./components/bootstrap-material-design/dist/css/material-fullpalette.min.css')
      link(rel='stylesheet', href='./components/bootstrap-material-design/dist/css/ripples.min.css')
      link(rel='stylesheet', href='./css/style.css')
    block js
      //script(src='http://localhost:35729/livereload.js')
      script(src='http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_HTML')
      script(src='./js/mathConfig.js')
      script(src='./components/XyJax/extensions/TeX/xypic.js')
  body
    block content
